include mixins
html
    head
        include head
    body
        #body-container
            h3 
                |Sorry! The page that you were looking for could not be found. Please
                |try again later.
        
        include footer.jade