include mixins
html
    head
        include head
    body
        - array_col_names_display = data.column_names_display
        - array_col_names_db = data.column_names_db
        - array_rows = data.rows
        +table(array_col_names_display, array_col_names_db, array_rows)         
    
        script. 
            var buttons = document.getElementsByClassName("view_row");
            for (i=0;i<buttons.length;i++){
                buttons[i].addEventListener('click',function(){
                    alert('This is where you are brought to the detail view for id='  + this.getAttribute('data-pk'));
                });
            };
  
    
    
    