mixin buttons_nav(array_of_tables)
    for val in array_of_tables
        button.nav= (val.table_name_display + ' ' + val.view_name_display)

mixin column_headings(array_of_column_headings)
    thead
        tr.headings_row
            for heading in array_of_column_headings
                th=heading
    br

mixin row(array_of_headings, row_object)
         tr.row
            each column_name in array_of_headings
                - cell_data = row_object[column_name]
                td=cell_data
            td 
                button(class='view_row' data-pk='?') View
            br
            
mixin table(array_of_headings, array_of_data)
    table#list_view_results
        +column_headings(array_of_headings)
        each row_obj in array_of_data
            +row(array_of_headings , row_obj)

    