body {
  background-color: lightblue;
}

#banner{
  color: black;
  text-align:center;
}

#banner a:link, a:visited, a:hover, a:active{
  text-decoration : none;
  color : black;
}

#body-container{
  text-align: center;
  width: 80%;
  min-height: 80%;
  margin-left: auto;
  margin-right: auto;
}

#body-container table{
  margin-left: auto;
  margin-right: auto;
}

#footer{
  text-align: center;
  left: 0;
  right: 0;
  top: 0;
}